/* CSS */

body {
    background-image:url('../assets/rock_pile.jpg');
    background-size: 100%;
    background-position:center;
    background-repeat:no-repeat;

    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    background-color: #000000
}

h1 {
    text-align:center;
    color: #efefef;
    font-size: 70px;
}

h2, h3 {
    color:#FFA500;
    position:relative;
    margin-left:200px;
    font-size:20px;
}
h4 {
    color:#FFA500;
    position:relative;
    font-size:20px;
    margin-left:530px;
    margin-top:-450px;
}

h5 {
    color:#FFA500;
    position:relative;
    font-size:20px;
    margin-left:530px;
    margin-top:20px;
}

#resume {
    background:url(../assets/humming_bird_bw.jpg);
    border-radius:10px;
    height:172px;
    width:198px;
    display:block;
    position:relative;
    margin-left:200px;
}

#resume:hover {
    background:url(../assets/humming_bird.jpg);
}

#personal{
    background:url(../assets/red_peppers_bw.jpg);
    border-radius:10px;
    height:172px;
    width:198px;
    display:block;
    position:relative;
    margin-left:200px;
}
#personal:hover {
    background:url(../assets/red_peppers.jpg);
}

#linkedin{
    background:url(../assets/2_of_us_bw.jpg);
    border-radius:10px;
    position:relative;
    height:172px;
    width:198px;
    margin-left:530px;
    margin-top:-11px;
    display:block;
}
#linkedin:hover {
    background:url(../assets/2_of_us.jpg);
}

#github{
    background:url(../assets/tree_icon_bw.jpg);
    border-radius:10px;
    position:relative;
    height:172px;
    width:198px;
    margin-left:530px;
    margin-top:-13px;
    display:block;
}
#github:hover {
    background:url(../assets/tree_icon.jpg);
}

/*
#links .resume_img {
    background:url(../assets/humming_bird_bw.jpg);
    position:relative;
    top:100px;
    left:200px;
    width:172px;
    height:198px;
}    

#links .resume_img:hover {
    background:url(../assets/humming_bird.jpg);
}*/

/*
a {
    color: #000000;
}

div.text-background2 {
    position:relative;
    margin-top:auto;
    margin-bottom:auto;
    width:200px;
    height:510px;
    background:url(../assets/peppers7.jpg) repeat;
    border:2px solid black;
}
div.transbox2 {
    position:relative;
    width:300px;
    height:300px;
    margin:100px 20px;
    background-color:none;
    font-size:25px;
    font-weight:bold;
}

div.me {
    position:relative;
    left:400px;
    top:-400px;
}*/
