/* CSS */

body {
    background-image:url('../assets/rock_pile.jpg');
    background-size: 100%;
    background-position:center;
    background-repeat:no-repeat;

    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    background-color: #000000
}

h1 {
    text-align:20px;
    color: #efefef;
    font-size: 70px;
    margin-left:20px;
}

p {
    color: #efefef;
    margin-left:40px;
}

h2, h3, h4 {
    position:relative;
    margin-left:20px;
}

a {
    position:relative;
    margin-left: 40px;
    color: #efefef;
    margin-left:20px;
}

ul.list-tick {
    margin-left:40px;
    position:relative;
}
ul.list-tick li {
    position:relative;
    margin-left:-40px;
    list-style: none;
    background: url('../assets/bullet-leaf.jpg') no-repeat top left;
    background-size: 1%;
}

#email {
    margin-top:400px;
    position:relative;
    margin-left:22px;
    color: #000000;
}
/*e6af61
434343*/

